.carousel {
  overflow: hidden;
  max-width: 1920px;
  margin: auto;
  position: relative;
  
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display:inline-flex;
  align-items: center;
  justify-content: center;
 

  color: #fff;
}

.indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
 
  color: #fff;
}
