

.carousel {
  overflow: hidden;
  max-width: 1920px;
  margin: auto;
  position: relative;

  .inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.indicators {
  position: absolute;
  
  display: flex;
  justify-content: center;
right: 0;
  left: 0;
  &-bottom { 
  bottom: 0;
  }

  &-top {
    top: 0;
   
  }
}

.indicators > button {
  margin: 5px;

}

.indicators > button.active {
 
  color: #fff;
}
.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-primary);
  margin: 5px;
  border: 1px solid var(--color-primary);
  cursor: pointer;
}
  
}

.btnIndicator {
 cursor: pointer;
}

.carousel-item {
  display:inline-flex;
  align-items: center;
  justify-content: center;
 

  color: #fff;
}



