:root{
  font-size: 62.5%;
  scroll-behavior: smooth;
/* Variables css */
--color-primary: #F8F7F9;
--color-secondary: #050517;
--color-tertiary: #22AED1;
--bk-color-primary: #0A2239;
--bk-color-secondary: #373F51;
--error-color-primary: #EE4848;
--success-color-primary: #74E994;


}