.client{

  
    height: 100vh;
    overflow: hidden;
    max-width: 1920px;
    max-height: 100vh;
    margin: auto;

    p{
        color:var(--color-secondary)
    }
    /* variable local */
    --left-block-size:32.2rem;
    --gap-left-right: 3.5rem;
    --padding-top-right: 5.7rem;
    --padding-mobile: 2.8rem;
    --warper_size: calc(100vw + var(--left-block-size) + var(--gap-left-right));
    --warper_translate: calc((var(--left-block-size) + (var(--gap-left-right) - var(--padding-mobile))) * -1);

  
    &__warper{
        padding: 2.8rem 4.6rem 2.8rem 0rem;
        width: calc(var(--warper_size));
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        gap: var(--gap-left-right);
        transition: all 0.5s ease-in-out;
        transform: translateX(var(--warper_translate));

        

        &-push{
            transition: all 0.5s ease-in-out;
            transform: translateX(0rem);
           
        }

        @include media(medium){
            overflow: visible;
            transform: translateX(0rem);
            width: 100%;
        }
    }

 

    &__right{
        display: block;
        height: 90vh;
        width: 100%;
        overflow-y: auto;
        max-width: 80.9rem;
        margin: auto;
        margin-top: 0;
               

        &__title{
            margin-bottom: 4.8rem;
        }
        &__paragraphe{
                margin: auto;
                margin-bottom: 4.3rem;
                line-height: 3rem;
               white-space: normal;
            
        }
       

        &__linksUtiles{
            h2{
                text-align: left;
                margin-bottom: 2.8rem;
            }
            a{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                font-family: Roboto;
                font-weight: 600;
                font-size: 2rem;
                color:var(--color-secondary);
                text-decoration: none;
                img{
                    object-fit: contain;
                }
                &:hover{
                    text-decoration: underline;
                    color: var(--color-tertiary);
                }
               
            }
        }
        @include media(medium){
            padding-top: 5.7rem;
        }
    }


    .historiqueClient{
        .title{
            margin-bottom: 4.6rem;
        }
        &__image{
            img{
                object-fit:scale-down;
                background-color: var(--color-primary);
            }
            &__view{
                width: 100%;
            }

            &__buttonBlock{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                margin-top: 2rem;
                margin-bottom: 4.3rem;
                button{
                    cursor: pointer;
                    border: none;
                    border-radius: 5px;
                    &:hover{
                        img{
                            background-color: var(--color-tertiary)!important;
                        }
                        background-color: var(--color-tertiary)!important;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        color: var(--color-primary);
                    }
                }
            }
        }
        
        .paragraphe{
            margin-bottom: 4.6rem;
            line-height: 3rem;
        }

        &__document{
            margin-bottom: 4.6rem;
            h2{
                text-align: left;
                margin-bottom: 1rem;
                font-size: 2rem!important;
            }
            a,p{
                font-size: 1.3rem;
                font-weight: 400;
                font-family: Roboto;
                text-decoration: none;
                
                color: var(--color-secondary);
            }
            a{
                color: var(--color-tertiary);
            }
        }
    }

    .HomeClient{
        .title{
            margin-bottom: 4.6rem;
        }
    }
}