.client{
    p{
        color:var(--color-secondary)
    }
    /* variable local */
    --left-block-size:32.2rem;
    --gap-left-right: 3.5rem;
    --padding-top-right: 5.7rem;
    --padding-mobile: 1.2rem;
    --warper_size: calc(100vw + var(--left-block-size) + var(--gap-left-right));
    --warper_translate: calc((var(--left-block-size) + (var(--gap-left-right) - var(--padding-mobile))) * -1);

    overflow: hidden;  
    width: 100vw;
    max-width: 1920px;


    &__block{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 2.4rem;
        background-color: var(--bk-color-tertiary) ;
        padding: 1.4rem;
        border-radius:1.5rem ;
        width: 23.1rem;
        
        transform: all 0.5s ease-in-out;
    }
    &__warper{
        padding: 2.8rem 4.6rem 2.8rem 0rem;
        width: calc(var(--warper_size));
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        gap: var(--gap-left-right);
        transition: all 0.5s ease-in-out;
        transform: translateX(var(--warper_translate));

        

        &-push{
            transition: all 0.5s ease-in-out;
            transform: translateX(0rem);
           
        }

        @include media(medium){
            overflow: visible;
            transform: translateX(0rem);
            width: 100%;
        }
    }

 
    &__left{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7.3rem;
        background-color: var(--bk-color-secondary);
        max-width: var(--left-block-size);
        padding: 2.6rem 4.7rem;
        border-radius: 0rem 1.5rem 1.5rem 0rem;
         
        &__nameClient{
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 1.2rem;
        }

        &__projets{
            button{
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: 1.4rem;
                p{
                    color:var(--color-secondary) ;
                    font-family: Roboto;
                    font-weight: 700;
                    font-size: 1.3rem;
                }
                span{
                    display:inline-block;
                    width: 2.2rem;
                    height: 2.2rem;
                    border-radius: 50%;
                    background-color: var(--color-secondary);
                }
            }

            &-active{
                
                    span{
                        background-color: var(--color-tertiary)!important;
                        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                    p{
                        color: var(--color-tertiary) ;
                    }
                    
                
            }
        }

        &__historique{
            gap: 1.6rem;
            
            &-active{
                 
                p{
                    color: var(--color-tertiary);
                    font-weight: 600;
                    padding:  0.3rem;

                }
            }
           
            &__title{
                display: flex;
                align-items: center;
                gap: 1.4rem;
                p{
                    color:var(--color-secondary) ;
                    font-family: Roboto;
                    font-weight: 700;
                    font-size: 1.3rem;
                }
                span{
                    display:inline-block;
                    width: 2.2rem;
                    height: 2.2rem;
                    border-radius: 50%;
                    background-color: var(--color-secondary);
                }
            }
           div{
               
                display: inherit;
                flex-direction: column;
               
                gap: 0.8rem;
                button{
                   
                    background-color: transparent;
                    border: none;
                    display: flex;
                    height: 2.3rem;
                    cursor: pointer;
                     p{
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                        font-family: Roboto;
                        font-weight: 400;
                        font-size: 1.3rem;
                       
                    } ;
                    
                    &:hover{
                        
                        background-color: var(--color-tertiary);
                        border-radius: 25px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        p{
                            color: var(--color-primary);
                            font-weight: 600;
                            padding:  0.3rem;

                        }
                    }
                   
            }
           }
      
        }

        &__codeDoc{
            a{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                font-family: Roboto;
                font-weight: 400;
                font-size: 1.3rem;
                color:var(--color-secondary);
                text-decoration: none;
                     &:hover{
                    text-decoration: underline;
                    color: var(--color-tertiary);
                }
                
            }
        }
        &__btnLogout{
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            font-family: Roboto_slab;
            font-weight: 700;
            font-size: 2rem;
            color: var(--color-tertiary);
            &:hover{
                text-decoration: underline;
            }
        }
    }

  

    &__right{
        display: block;
        height: 100%;
        width: 100%;
        max-width: 80.9rem;
        margin: auto;
        margin-top: 0;
               

        &__title{
            margin-bottom: 4.8rem;
        }
        &__paragraphe{
                margin: auto;
                margin-bottom: 4.3rem;
                line-height: 3rem;
               white-space: normal;
            
        }
       

        &__linksUtiles{
            h2{
                text-align: left;
                margin-bottom: 2.8rem;
            }
            a{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                font-family: Roboto;
                font-weight: 600;
                font-size: 2rem;
                color:var(--color-secondary);
                text-decoration: none;
                img{
                    object-fit: contain;
                }
                &:hover{
                    text-decoration: underline;
                    color: var(--color-tertiary);
                }
               
            }
        }
        @include media(medium){
            padding-top: 5.7rem;
        }
    }


    .historiqueClient{
        .title{
            margin-bottom: 4.6rem;
        }
        &__image{
            img{
                object-fit:scale-down;
                background-color: var(--color-primary);
            }
            &__view{
                width: 100%;
            }

            &__buttonBlock{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                margin-top: 2rem;
                margin-bottom: 4.3rem;
                button{
                    cursor: pointer;
                    border: none;
                    border-radius: 5px;
                    &:hover{
                        img{
                            background-color: var(--color-tertiary)!important;
                        }
                        background-color: var(--color-tertiary)!important;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        color: var(--color-primary);
                    }
                }
            }
        }
        
        .paragraphe{
            margin-bottom: 4.6rem;
            line-height: 3rem;
        }

        &__document{
            margin-bottom: 4.6rem;
            h2{
                text-align: left;
                margin-bottom: 1rem;
                font-size: 2rem!important;
            }
            a,p{
                font-size: 1.3rem;
                font-weight: 400;
                font-family: Roboto;
                text-decoration: none;
                
                color: var(--color-secondary);
            }
            a{
                color: var(--color-tertiary);
            }
        }
    }
}