.contact{
    

    padding: 1.2rem;
     @include media(medium){
        padding: 4.3rem;
            
    }


    &__accueille{
        margin: auto;
        max-width: 90rem;
        padding: 2.3rem;
        @include media(medium){
            padding: 0;
        }

        h1,p{
            margin-bottom: 4.3rem;
        }
        h1{
            text-align: center;
        }
    }

        &__success{  
            color: var(--success-color-primary);
        }

         &__error{
           
            color: var(--error-color-primary);
        }
    &__message{
        background-color: var(--bk-color-secondary);
        max-width: 50rem;
        margin: auto;
        margin-top: 4.6rem;
        margin-bottom: 4.6rem;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 2.5rem;
        padding: 2.5rem;
        border-radius: 25px;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);

        
    }
   
    &__content{
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
        max-width:38.7rem ;
        position: relative;
        margin: auto;
        margin-bottom: 4.3rem;
        border-radius: 5px;
        @include media(medium){
            display: flex;
            flex-direction: row;
            max-width:90rem ;
            gap: 3.4rem;
            
        }
        &__cover{
            display: none;
            object-fit: cover;
            max-width:51rem ;
            height: auto;
             @include media(medium){
                display: inline-block;
            }
        }
        &__right{
               
                display : flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2.5rem;
                 padding-top: 3.1rem;
                 padding-bottom: 3.1rem;
                 background-color: var(--bk-color-secondary);
                    @include media(medium){
                        
                        background-color: transparent;
                    }

                &__title{
                    text-align: center;
                    font-size: 3rem;
                    color: var(--color-primary);
                     @include media(medium){
                        
                        color: var(--color-secondary);
                    }
                }
                    .form{
                        label{
                            color: var(--color-primary);
                            @include media(medium){
                        
                                color: var(--color-secondary);
                            }
                        }

                        input,textarea{
                            width: 27rem;
                        }

                        @include media(medium){
                                 input,textarea{
                            width: 31rem;
                        }

                        }
                    }
              
            }


    }

    &__reseaux{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        flex-direction: column;
      
        &__blackLink{
            display: flex;
            align-items: center;
            gap: 2.5rem;
        }
        &__title{
            font-family: Roboto;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--color-secondary);
        }
        a{
            text-decoration: none;
            color: var(--color-secondary);
            font-family: Roboto;
            font-size: 1.5rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 0.5rem;
       

            &:hover{
                  color: var(--color-tertiary);
                  text-decoration: underline;
            }

        }

        &__icon{
            font-size: 2.3rem;
        }
       
    }

    &__submit{
        height: 100%;
        border-radius: 25px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);

        &__loading{
            animation: loaderAnimation 1.5s linear infinite;
            color: var(--color-primary);
            font-size: 5rem;
            z-index:1;
        }
        p{
        
            font-weight: 700;
            color: var(--color-primary);
          
        }
    }


}