.home{
    max-width: 1920px;
    margin: auto;
    &__heroHome{
        .carousel{
            .active{
                background-color: var(--color-tertiary);
            }
        }
    }
    &__about{

        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 4.3rem;
        h2{
            text-align: center;
        }
        
        &--content{
            max-width: 1280px;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-bottom: 4.3rem;
            img{
                object-fit: contain;
                background-color: red($color: #000000);
                width: 100%;
            }
            &_insertion{
                display: flex;
                flex-direction: column;
                gap: 1.8rem;
                @include media(medium){
                    width: 50%;
                }
            }

            @include media(medium){
                flex-direction: row;
                align-items: center;

                img{
                    width: 50%;
                    max-width: 50%;
                    object-fit: cover;
                    height: auto;
                }
              
            }
        }
    }

    &__projets{
      padding: 4.3rem 0;
        background-color: var(--bk-color-secondary);
          .carousel{
            .active{
                background-color: var(--color-tertiary);
            }
        }
        &-title{
            width: 100%;
            text-align: center;
            margin-bottom: 4.3rem;
            color: var(--color-primary);
            

        }
    }
    &__work{
        padding-top: 4.3rem;
        padding-bottom: 4.3rem;
        .carousel{
            &-item{
                padding-top: 11rem;
            }
            .indicators{
              
                gap: 1rem;
             
                
                
                    @include media(medium){
                    gap: 2.5rem;
                    }
                    .btnIndicator-Iphone{
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                           @include media(medium){
                          width: 6rem;
                            height: 6rem;     
                         font-size: 3.7rem;
                    }
                    }
               .btnIndicator{
                 
                display:inline-block;
             
                flex: 1;  
                 border-radius: 50%; 
                   background-color: var(--color-primary);
                  
                   border: none;
                   font-family: Roboto_slab;
                   font-weight: 700;
                    font-size: 2rem;
                    color: var(--color-secondary);
                             @include media(medium){
                          
                         font-size: 3.7rem;
                    }
                 
               }
            }
            .active{
                background-color: var(--color-secondary)!important;
                 color: var(--color-primary)!important;
                scale: 1.2;
            }
        }
        &-title{
            width: 100%;
            text-align: center;
            margin-bottom: 4.3rem;
          
        }
    }
}