.modal{
position: absolute;
display: none;
width: 100vw;
height: 100vh;
max-width: 100vw;
max-height: 100vh;
overflow: hidden;
top: 0;
left: 0;
overflow-y: hidden;
z-index: 1000;
@include media(medium){
   flex-direction: column;
    justify-content: center;
    align-items: center;
}

    &__show{
        display: block;
        @include media(medium){
            display: flex;
        }
    }

    &__visibility{
        background-color: rgba(0,0,0,0.5);
    }

    &__content{}

    &__close{
       
    }
}