 @font-face {
    font-family: Roboto_slab;
    src: url("../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Light.ttf");
    font-weight: 400;
    font-display: swap;
}
 @font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 500;
    font-display: swap;
}
 @font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 700;
    font-display: swap;
}
 @font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Black.ttf");
    font-weight: 900;
    font-display: swap;
}



